

#home {

}
.carousel-indicators {
  bottom: -30px;
}

#about {
    padding-bottom: 200px;
    background-image: url("../img/chickens.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#trips {
    padding-bottom: 200px;
    padding-top: 100px;
    background-image: url("../img/chickensdrinking.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#trips-div, #findus-div {
    background-color: #fffde7;
    width: 60%;
    top: 100px;
    margin: 0 auto;

    
}
@media (max-width: 992px) {
    #findus-div, #trips-div, #about-div {
       width: 100% !important; 
    }  
}
#trips-div {
    padding: 40px 20px 150px;
}

#findus {
    background-image: url("../img/forest.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 200px;
}

#about-heading {
    padding-top: 30px;
}

#about-div {
  margin: 0 auto;
  width: 60%;
  background-color: #fffde7;
  padding-right: 50px;
  padding-bottom: 50px;
  top: 100px;

  @media (max-width: 992px) {
      width: 100%;
  }
}

#about-div p {
    text-align: justify;
}

.carousel-control.right, .carousel-control.left {
  background-image:none;
}

.img-circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 200px;
}

.text {
    font-size: 15px;
}



#contact {
    padding-bottom: 120px;
}

/*nav*/
.navbar,
.navbar-collapse {
	background: white;
	border-color: white;
    box-shadow: none;
}

.nav {
	color: white;
	letter-spacing: 1.4px;
	font-family: "Playfair Display";
    letter-spacing: 2px;
	font-weight: bold;
    background: none;
}

.navbar-inverse li a {
    color: #d50b7a;
}
.navbar-nav li a {
    color: #d50b7a;
}

.nav li a:hover {
    color: #FFD88F !important;
}

.navbar-fixed-top {
    background-color: white;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
	background-color: white;
	color: #FAB940;
}



a, p {
    font-family: Lato;
}

h1 {
    font-family: "Playfair Display";
    color: #289B8F;
    text-align: center;
    font-size: 2em;
    letter-spacing: 1.5px;
    
}

.nav-link {
    letter-spacing: .8px;
}

.heading {
    color: #289B8F;
    letter-spacing: 1.5px;
}

#my-carousel {
    margin-top: 40px;
}

#df {
    margin-top: 60px;
    font-size: 6em;
    color: #289b8f;
    margin-bottom: 100px;
}

#bestsellers {
    margin-top: 40px;
}

h2 {
    font-family: Glegoo;
    text-align: center;
    letter-spacing: 1.5px;
    font-size: 1.2em;
    color: #D9C7C1;
    font-style: italic;
}
p { 
    color: black;
    /*#289b8f;
    #046F64 */
}

a {
    color: #dd2477 !important;
}

a:hover {
    text-decoration: none;
    color: black;
}

#customise {
    margin-bottom: 40px;
}

.btn-primary {
    background-color: transparent;
    letter-spacing: 1.5px;
    border: 1px solid lightgrey;
    color: lightgrey;
    font-size: 12px;
    margin-top: 8px;
}

.btn-primary:hover {
    background-color: #FAB940;
    border: 1px solid lightgrey;
}

#bestsellers .btn-primary:focus, 
#bestsellers .btn-primary:active, 
#bestsellers .btn-primary.active {
    background-color: #D9C7C1;
    border: 1px solid lightgrey;
    outline: none;
}

#modal1,
#modal2,
#modal3 {
    top: 20%;
}
.modal-title {
    text-align: center;
}

.modal-body {
    text-align: justify;
}

.contact-pic {
    display: inline-block;
    background: url("../img/newbies.jpg");
    width: 100%;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 30px;
}

#contact-us {
    padding-right: 50px;
    float: right;
}

#in-touch {
    text-align: left;
    color: #289b8f;
}


#contact-heading {
    text-align: left;
}

#submit-button,
#name,
#phone-number,
#email,
#message-box {
    letter-spacing: 1.5px;
}

.form-control {
    width: 80%;
}

footer {
    background-color: transparent;
}

/*media*/
@media only screen
and (max-width: 1157px) {


}


@media only screen 
and (max-width: 1200px) {

.img-circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float: left;
    }

.caption {
    margin-left: 0;
    float: right;
}

.caption p {
    text-align: justify;
}
#about-heading {
    margin-top: 50px;
}
#about {
    background-image: url("../img/sunflowers.jpg");
    background-size: cover;

}

#tour1, #tour2, #tour3 {
    margin-bottom: 10px;
}
}

iframe {
    width: 100%;
    height: 250px;
    border:0;
    margin-bottom: 20px;

    @media (min-width: 768px) {
    width: 100%;
    height: 450px;
    }
    }
.test {
    width: 70%;
    margin: 0 auto;
}

.logo {
    width: 160px;
    margin-left: 20px;

    @media (max-width: 991px) {
        width: 50px !important;
    }
}

.person {
  width: 220px;
  display: inline-block;
}

.pp {
  background-size: contain;
  width: 200px;
  height: 200px;
}

.artur {
  background: url("../img/cvo.jpg");
  background-size: contain;
}

.thanh {
  background: url("../img/cco.jpg");
  background-size: contain;
}

.diva {
  background: url("../img/diva.jpg");
  background-size: contain;
}

.leila {
  background: url("../img/leila.jpg");
  background-size: contain;
}

.kitty {
  background: url("../img/kitty.jpg");
  background-size: contain;
}
.us-profiles {
  text-align: center;
}

h3 {
  font-size: 1.1rem;
  margin-top: 12px;
  margin-bottom: 0;
  text-align: left;
}
