.carousel-indicators {
  bottom: -30px;
}

#about {
  background-image: url("../img/chicksbathing.jpg");
  background-size: cover;
}

#events {
  padding-top: 100px;
  background-repeat: no-repeat;
  background: url("../img/chickensdrinking.jpg");
  background-size: cover;
}

#events-div, #findus-div, #about-div, #house-div {
  background-color: #ecf2f3f2;
  width: 60%;
  margin: 0 auto;    
}

#house {
  background-image: url("../img/walkingchicks.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#findus {
  background-image: url("../img/forest.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.blue-div {
  margin-top: 80px !important;
  padding: 0 40px 40px;
}

@media (max-width: 991px) {
  #house-div, #about-div, #findus-div, #events-div {
    width: 100%;
  }
}
.carousel-control.right, .carousel-control.left {
  background-image:none;
}

/*nav*/
.navbar,
.navbar-collapse {
	background: white;
	border-color: white;
  box-shadow: none;
}

.nav {
	color: white;
	letter-spacing: 1.4px;
	font-family: "Playfair Display";
  letter-spacing: 2px;
	font-weight: bold;
  background: none;
}

.navbar-inverse li a {
  /*color: #d50b7a;*/
  color: #7acade;
}
.navbar-nav li a {
  /*color: #d50b7a;*/
  color: #7acade;
}

.nav li a:hover {
  /*color: #FFD88F !important;*/
  color: #7acade !important;
}

.navbar-fixed-top {
  background-color: white;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
	background-color: white;
	/*color: #FAB940*/;
  color: #7acade;
}

a, p {
  font-family: Lato;
}

h1 {
  font-family: "Playfair Display";
  color: #289B8F;
  text-align: center;
  font-size: 2em;
  letter-spacing: 1.5px;
  padding: 30px;
    
}

.nav-link {
  letter-spacing: .8px;
}

#my-carousel {
  margin-top: 40px;
}

#df {
  margin-top: 60px;
  font-size: 6em;
  color: #289b8f;
  margin-bottom: 100px;
}

h2 {
  font-family: Glegoo;
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 1.2em;
  color: #D9C7C1;
  font-style: italic;
}

p { 
  color: black;
}

a {
  /*color: #dd2477 !important*/;
  color: #28bce1 !important;
}

a:hover {
  text-decoration: none;
  color: black;
}

.contact-pic {
  display: inline-block;
  background: url("../img/newbies.jpg");
  width: 100%;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 30px;
}

iframe {
  width: 100%;
  height: 250px;
  border:0;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    width: 100%;
    height: 450px;
  }
}

.logo {
  width: 160px;
  margin-left: 20px;
}

.person {
  width: 220px;
  display: inline-block;
}

.pp {
  height: 220px;
}

.artur {
  background: url("../img/cvo.jpg");
  background-size: cover;
}

.thanh {
  background: url("../img/cco.jpg");
  background-size: cover;
}

.diva {
  background: url("../img/diva.jpg");
  background-size: cover;
}

.leila {
  background: url("../img/leila.jpg");
  background-size: cover;
}

.kitty {
  background: url("../img/kitty.jpg");
  background-size: cover;
}

.sj {
  background: url("../img/sj.jpg");
  background-size: cover;
}

.cj {
  background: url("../img/cj.jpg");
  background-size: cover;
}

.pj {
  background: url("../img/pj.jpg");
  background-size: cover;
}

.adele {
  background: url("../img/adele.jpg");
  background-size: cover;
}

.mc {
  background: url("../img/mateuszchicken.jpg");
  background-size: cover;
}

.jc {
  background: url("../img/justuschicken.jpg");
  background-size: cover;
}

.us-profiles {
  text-align: center;
}

h3 {
  font-size: 1.1rem;
  margin-top: 12px;
  margin-bottom: 0;
  text-align: left;
  color: black;
  text-align: center;
}

.lang-link {
  padding-right: 5px;
  color: #373737 !important;
  vertical-align: -webkit-baseline-middle;
  font-size: 12px;
  padding: 8px 4px;
}

footer {
  margin: 20px;
}

footer p {
  text-align: center;
  color: #289B8F;
  margin-bottom: 0;
}

.anchor {
  padding: 100px 0;
}

.flag {
  display: inline-block;
  width: 50px;
  height: 20px;
  margin-top: 16px;
  background-size: contain;
  background-repeat: no-repeat;
}

.flag-au {
  background: url("../img/aus.png");
}

.flag-de {
  background: url("../img/de.png");
}

.carousel {
  margin-top: 100px;
}

@media (max-width: 619px) {
  .logo {
    width: 130px;
    margin-left: 0;
  }

  .carousel {
    margin-top: 80px;
  }
}

@media (max-width: 991px) {
  .flag {
    margin-left: -15px;
  }
}

@media (max-width: 991px) {
  #about, #events, #house, #findus {
    background: none;
  }
  
  #about-div {
    margin-top: 0 !important;
  } 
  
  .anchor {
    padding-bottom: 0;
  }
}
