.carousel-indicators {
  bottom: -30px;
}

#about {
  padding-bottom: 200px;
  background-image: url("../img/cabbage.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#events {
  padding-bottom: 200px;
  padding-top: 100px;
  background-image: url("../img/chickensdrinkingbw.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#events-div, #findus-div {
  background-color: #7acade;
  width: 60%;
  top: 100px;
  margin: 0 auto;    
}

@media (max-width: 992px) {
  #findus-div, #events-div, #about-div {
    width: 100% !important; 
  }  
}

#findus {
  background-image: url("../img/forestbw.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 200px;
}


#about-div, #house-div {
  margin: 0 auto;
  width: 60%;
  background-color: #7acade;
  padding: 50px;
  top: 100px;

  @media (max-width: 992px) {
      width: 100%;
  }
}

.carousel-control.right, .carousel-control.left {
  background-image:none;
}

/*nav*/
.navbar,
.navbar-collapse {
	background: white;
	border-color: white;
    box-shadow: none;
}

.nav {
	color: white;
	letter-spacing: 1.4px;
	font-family: "Playfair Display";
  letter-spacing: 2px;
	font-weight: bold;
  background: none;
}

.navbar-inverse li a {
  color: #d50b7a;
}
.navbar-nav li a {
  color: #d50b7a;
}

.nav li a:hover {
  color: #FFD88F !important;
}

.navbar-fixed-top {
  background-color: white;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
	background-color: white;
	color: #FAB940;
}

a, p {
  font-family: Lato;
}

h1 {
  font-family: "Playfair Display";
  color: white;
  text-align: center;
  font-size: 2em;
  letter-spacing: 1.5px;
  padding: 30px;
    
}

.nav-link {
  letter-spacing: .8px;
}

#my-carousel {
  margin-top: 40px;
}

#df {
  margin-top: 60px;
  font-size: 6em;
  color: #289b8f;
  margin-bottom: 100px;
}

h2 {
  font-family: Glegoo;
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 1.2em;
  color: #D9C7C1;
  font-style: italic;
}

p { 
  color: white;
}

a {
  color: #dd2477 !important;
}

a:hover {
  text-decoration: none;
  color: black;
}

.contact-pic {
  display: inline-block;
  background: url("../img/newbies.jpg");
  width: 100%;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 30px;
}

footer {
  background-color: transparent;
}

#about {
  background-image: url("../img/sunflowers.jpg");
  background-size: cover;
}

iframe {
  width: 100%;
  height: 250px;
  border:0;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    width: 100%;
    height: 450px;
  }
}

.test {
  width: 70%;
  margin: 0 auto;
}

.logo {
  width: 160px;
  margin-left: 20px;

  @media (max-width: 991px) {
      width: 50px !important;
  }
}

.person {
  width: 220px;
  display: inline-block;
}

.pp {
  background-size: contain;
  width: 200px;
  height: 200px;
}

.artur {
  background: url("../img/cvo.jpg");
  background-size: contain;
}

.thanh {
  background: url("../img/cco.jpg");
  background-size: contain;
}

.diva {
  background: url("../img/diva.jpg");
  background-size: contain;
}

.leila {
  background: url("../img/leila.jpg");
  background-size: contain;
}

.kitty {
  background: url("../img/kitty.jpg");
  background-size: contain;
}

.us-profiles {
  text-align: center;
}

h3 {
  font-size: 1.1rem;
  margin-top: 12px;
  margin-bottom: 0;
  text-align: left;
}

.lang-link {
  margin-right: 5px;
}
